.autocomplete-suggestions { border: 1px solid #999; background: #FFF; cursor: default; overflow: auto; -webkit-box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64); -moz-box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64); box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64); }
.autocomplete-suggestion { padding: 2px 5px; white-space: nowrap; overflow: hidden; }
.autocomplete-no-suggestion { padding: 2px 5px;}
.autocomplete-selected { background: #F0F0F0; }
.autocomplete-suggestions strong { font-weight: bold; color: #000; }
.autocomplete-group { padding: 2px 5px; }
.autocomplete-group strong { font-weight: bold; font-size: 16px; color: #000; display: block; border-bottom: 1px solid #000; }

.lozenge { background-color: #abb7c2;color: white;padding: 5px;border-radius: 5px;}

input#applicationName { border: 1px solid black;padding: 10px;font-size: 24pt; }

h4.dayofweek { color: #708090; }

table.errors .error-time {
	font-weight: 500;
}

table.errors .error-message {
	font-weight: 300;
}

.selected {
	background-color: #eef3f3;
}

pre.message {
	color: #FFF;
	background-color: #101828;
	padding: 10px;
	font-size: 8pt;
	max-width: 1280px;
}

#dashboard .card-title a { font-size: 14pt;color: white; }
#dashboard .card-content { font-size: 10pt; }
#dashboard .top-exception { min-height: 80px;padding-top: 20px;}
#dashboard .top-exception span.label { border-radius: 5px;padding: 3px; }
#dashboard .top-exception .exception-type { text-overflow: ellipsis;overflow: hidden;white-space: nowrap;width: 245px; }
#dashboard .top-exception a { color: white;text-decoration: underline;}