{
	"ConfigFile": "",
	"ImportBufferSize": 42,
	"PageSize": 43,
	"MaxAgeDays": 44,
	"Applications": [
		"App1",
		"App2",
	],
	"Environments": [
		{
			"Name":  "Development",
			"Servers": [
				{
					"Name": "ricecakes1",
					"Path": "D:\\Errorlogs1",
					"CopyFilesToLocal": false,
					"Username": "uid1",
					"Password": "pwd1"
				},
				{
					"Name": "ricecakes2",
					"Path": "D:\\Errorlogs2",
					"CopyFilesToLocal": true,
					"Username": "uid2",
					"Password": "pwd2"
				}
			]
		},
		{
			"Name": "Production",
			"Servers": [
				{
					"Name": "liveserver",
					"Path": "D:\\Errorlogs3",
					"CopyFilesToLocal": true,
					"Username": "uid3",
					"Password": "pwd3"
				}
			]
		}
	]
}