{
	"IsLuceneEnabled": true,
	"LuceneIndexDirectory" :  "external-config-lucene",
	"ConfigFile": "",
	"ImportBufferSize": 10,
	"MaxAgeDays": 11,
	"Applications": [
		"App1",
		"App2",
	],
	"Environments": [
		{
			"Name": "Development",
			"Servers": [
				{
					"Name": "ricecakes",
					"Path": "D:\\Errorlogs",
					"CopyFilesToLocal": false,
					"Username": null,
					"Password": null
				}
			]
		},
		{
			"Name": "Not exactly the same as development for some reason",
			"Servers": [
				{
					"Name": "foo",
					"Path": "D:\\bar",
					"CopyFilesToLocal": false,
					"Username": null,
					"Password": null
				}
			]
		}
	]
}