{
	"IsLuceneEnabled": true,
	"LuceneIndexDirectory" :  "",
	"ConfigFile": "ExampleConfigs\\external-config2.config",
	"ImportBufferSize": 1,
	"MaxAgeDays": 3,
	"Applications": [
		"App1",
		"App2",
		"App3",
		"App4",
		"App5"
	],
	"Environments": [
		{
			"Name": "Development",
			"Servers": [
			]
		}
	]
}