@{
	ViewBag.Title = "Select an application";
}

<script type="text/javascript">
	var appNames = @Html.Action("GetApplications", "Home");

	$(document).ready(function()
	{
		$("#applicationName").autocomplete({
			lookup: appNames
		});
	});
</script>
<div class="row">
	<h1>Woof</h1>

	<div class="input-field">
		<form method="GET" action="@Url.Action("Today", "Home")">
			<input type="text" name="applicationName" id="applicationName" placeholder="Enter an application name">
			<input type="submit" class="btn btn-primary btn-lg" value="Select" />
		</form>
	</div>
</div>