<div class="row">
	<h1 id="done">Refreshing...</h1>
	<img id="done-img" src="~/img/refreshing.gif"/>
</div>

@section scripts
{
	<script type="text/javascript">
		$(document).ready(function()
		{
			$.ajax({
					method: "POST",
					url: "/Home/RefreshAsync",
					data: {}
				})
				.done(function(msg)
				{
					$("#done-img").fadeOut(2500);
					$("#done").html("Finished!");
				});
		});
	</script>
}